{% extends "layout.html" %}
{% block body %}
    <div class="content-section">
        <legend class="border-bottom mb-4">Feedback</legend>
    </div>
    <div>
        <table class="table table-striped table-sm">
                <tr>
                    <th class="fit">Created Date</th>
                    <th class="fit">First Name</th>
                    <th class="fit">Last Name</th>
                    <th class="fit">Email</th>
                    <th class="fit">Comment</th>

                </tr>
                {% for comment in comments %}
                    <tr>
                        <td class="fit">{{ comment.created_date.strftime('%m-%d-%Y %I:%M:%S %p') }}</td>
                        <td class="fit">{{ comment.first_name }}</td>
                        <td class="fit">{{ comment.last_name }}</td>
                        <td class="fit">{{ comment.email }}</td>
                        <td class="fit">{{ comment.user_request }}</td>
                    </tr>
                {% endfor %}
        </table>
    </div>
{% endblock%}