{% extends 'layout.html' %}
{% block body %}
	<div class="container-fluid">
		<nav>
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
				<a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">About</a>
			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
				<h1>Mathematics Professional Development Depository</h1>
				<h4>Resources for math instruction and learning</h4>
				<div class="row">
					<div class="col-lg-4" >
						<picture>
							<div class="container-image">
								<img src="/static/images/antoine-dautry-_zsL306fDck-unsplash.jpg" height="220" alt="polynomials" class="image"/>
							</div>
						</picture>
					</div>
					<div class="col-lg-4" >
						<picture>
							<div class="container-image">
								<img src="/static/images/antoine-dautry-05A-kdOH6Hw-unsplash.jpg" height="220" alt="polynomials" class="image"/>
							</div>
						</picture>
					</div>
					<div class="col-lg-4" >
						<picture>
							<div class="container-image">
								<img src="/static/images/jeshoots-com-5EKw8Z7CgE4-unsplash.jpg" height="220" alt="polynomials" class="image"/>
							</div>
						</picture>
					</div>
				</div>
				<hr>
				<h5>
					Welcome to the { name of site }
				</h5>
				<p>
						This <b>free</b> website is intended for the use of teachers of mathematics in secondary schools, wherever you might be and regardless of what awarding body you use.
				</p>
				<p>
						The { name of site } contains over 15,000 files to do with Edexcel Mathematics and all the qualifications that we offer, including past papers, mark schemes, examiner reports and grade boundaries.
				</p>
				<p>
						To request an account, click on  <a href="/login">Login/Register</a>.
				</p>
			</div>
			<div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
				<div class="container">
					<h2>{ Name Here }</h2>
					<p>
							<img style="padding: 0 15px; float: left;" src="/static/images/placeholder.png" alt="Generic Avatar Image" height="200" width="200"> 
					</p>
					<p>
						<p style="margin-top: 20px;"> </p>
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque metus nunc, vehicula nec imperdiet nec, lobortis ut ante. Mauris sit amet lorem vel 
						felis pellentesque viverra viverra eu leo. Morbi sed lacus eu neque euismod rhoncus ac et nibh. Morbi sed ligula sit amet sapien elementum rhoncus sodales 
						vestibulum augue. Fusce euismod facilisis odio, vitae bibendum odio. Pellentesque eget eros odio. Quisque faucibus hendrerit tellus. Curabitur luctus 
						dignissim orci ullamcorper ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus eu enim purus. Mauris quis porttitor arcu, nec 
						placerat enim. Suspendisse tincidunt ante at erat laoreet, porttitor ultricies eros suscipit. Mauris ornare enim aliquam ligula laoreet tempus. Class 
						aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer vel velit ut enim vehicula viverra. 
					</p>
					<p>
						Praesent ante enim, tincidunt lacinia gravida vitae, malesuada ut purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi mattis, diam nec 
						molestie accumsan, nunc tortor euismod lectus, nec sagittis mauris elit a magna. Nam eget ex egestas, malesuada purus et, auctor urna. Sed ac rutrum dui, et 
						commodo nulla. Sed ac tristique turpis, in scelerisque massa. Etiam ac dui ligula. Quisque mattis condimentum lobortis. Donec auctor rutrum purus sed rhoncus. 
						Integer mollis dui sapien, at dapibus magna elementum ut. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
					</p>
				</div>
			</div>
		</div>
  	</div>
{% endblock %}
