{% extends "layout.html" %}
{% block body %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.csrf_token }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Search</legend>
                <div class="row">
                    <div class="col-sm-4">
                        {{ form.level.label(class="form-control-label") }}
                        {% if form.level.errors %}
                            {{ form.level(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.level.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.level(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="col-sm-4">
                        {{ form.topic.label(class="form-control-label") }}
                        {% if form.topic.errors %}
                            {{ form.topic(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.topic.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.topic(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="col-sm-4">
                        {{ form.keyword.label(class="form-control-label") }}
                        {% if form.keyword.errors %}
                            {{ form.keyword(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.keyword.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.keyword(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
            </fieldset>
            <div class="row">
                <div class="col-sm-1">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
                <div class="col-sm-1">
                    {{ form.clear(class="btn btn-outline-info", type="reset") }}
                </div>
            </div>
        </form>
        <hr>
    </div>
{% endblock%}