<br>
<footer class="footer">
    <div class="containter">
        <span id="footer-text">On The Web</span>
        <a href="https://www.linkedin.com/in/robyn-carlin-09210010" target="_blank"><i class="fa fa-linkedin-square" style="font-size:24px"></i></a>
        <a href="http://hotsta.org/tag/geauxteach" target="_blank"><i class="fa fa-instagram" style="font-size:24px; color:orange"></i></a>
        <a href="https://twitter.com/geaux_teach" target="_blank"><i class="fa fa-twitter" style="font-size:24px"></i></a>
        <a href="https://www.facebook.com/robyn.carlin.9" target="_blank"><i class="fa fa-facebook" style="font-size:24px"></i></a>
    </div>
</footer>